@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content-max-width {
  margin-inline-start: auto;
  margin-inline-end: auto;
  position: relative;
  max-width: 1100px;
}

.screen-max-width {
  margin-inline-start: auto;
  margin-inline-end: auto;
  position: relative;
  max-width: 1200px;
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
}

@layer utilities {
  .animation-delay {
    animation-delay: 3s;
  }
}
